* {
 box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
  background-color: #7986AC;
  color: white;
}

body {
  width: 100vw;
}

header {
  margin: 0;
  margin-bottom: 3rem;
}

h1, h2, h3, h4 { text-align: center; }

a {
  text-decoration: none;
  color: #eee;
}

a:hover {
  cursor: pointer;
  color: #aaa;
}

main {
  height: 80%;
  display: flex;
  flex-direction: column;
}

.comedian-stats {
  display: flex;
  justify-content: space-around;
}

.comedian-stats > div {
  border: 1px solid black;
  text-align: center;
  background-color: white;
  width: calc(33.3333% - 10px);
  margin: 5px;
  padding: 2px;
}

.comedian-stats, .specials {
  color: black;
}

.comedians {
  display: flex;
  flex-direction: column;
  order: 1;
}

.specials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.comedian-info {
  background-color: #50608F;
}

.comedian-info > * {
  display: block;
  text-align: center;
}

.comedian-img {
  max-width: 14rem;
  max-height: 14rem;
  border: 1px solid black;
}

/* .comedian-info:nth-child(1) { font-size: 2rem;
}

.comedian-info:nth-child(2) {
  font-size: 1.2rem;
}

.comedian-info:nth-child(3) {
  font-size: 1.6rem;
} */

.special {
  background-color: white;
  border-radius: .9rem;
  text-align: center;
  border: 1px solid black;
  width: calc(33.33333% - 15px);
  margin: 7.5px;
  padding: 10px;
}
