<% @comedians.each do |comedian| %>
  <ul>
    <li> <%= comedian.name %></li>
    <li> <%= comedian.age %></li>
    <% if comedian.city  %>
    <li> <%= comedian.city %></li>
    <% end %>
  </ul>
<% end %>
