<div class="Header">
  <h1>Comedians!</h1>
</div>

<div class="Comedian Stats">
  <h1>Statistics</h1>
  <div class="average_age">
    <h2>Average Comedian Age</h2>
    <h3><%= @comedians.average_age %> Years of Age </h3>
  </div>
  <div class="average_time_length">
    <h2>Average Run Time</h2>
    <h3><%= @specials.time_length_average %> minutes</h3>
  </div>
  <div class="sum_of_total_tv_specials">
    <h2>Number of specials</h2>
    <h3><%= @specials.all_count %></h3>
  </div>
  <div class="comedians_cities">
    <h2>Cities</h2>
    <% @comedians.unique_cities.each do |city|%>
      <h3><%= city%></h3>
    <% end %>
  </div>
</div>
