<h1>My Favorite Comedians</h1>

<div id="comedians">
  <% @comedians.each do |comedian| %>
    <h3><%= comedian.name %></h3>
    <img src= <%=comedian.thumbnail%>/>
    <p>Age: <%= comedian.age %></p>
    <p>Location: <%= comedian.city %></p>

  <% end %>
</div>
