<h1>All Comedians</h1>

<% @comedians.each do |c| %>
  <ul>
    <li>Comedian: <%= c.name %></li>
    <li>Age: <%= c.age %></li>
    <li>City: <%= c.city %>
    <li>Specials: <% c.specials.each do |special| %>
      <%= special.name %>
      <br>
    <% end %>
  </ul>

<% end %>
