<form class="new_comedian" action="/comedians" method="post">
   <input type="text" name="comedian[name]" placeholder="Name">
   <input type="text" name="comedian[age]" placeholder="Age">
   <input type="text" name="comedian[city]" placeholder="City">
   <input type="submit" value="Create Comedian">
</form>
