<form class="new-comedian" action="/comedians" method="POST">
  <input type="text" name="comedian[name]" placeholder="Name">
  <input type="text" name="comedian[age]" placeholder="Age">
  <input type="number" name="comedian[age]" placeholder="Age" s
  <input type="text" name="comedian[city]" placeholder="City">
  <input type="submit" value="Submit">
</form>
