<form action="/comedians" method="post">
  <h1>Add New Comedian</h1>
  <input type="text" name="name" placeholder="Input name of comedian">
  <input type="number" name="age" placeholder="Input age of comedian">
  <input type="text" name="city" placeholder="Input city comedian currently lives in">
  <input type="hidden" name="image" value="https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/12376838_10209456574190870_7947808430749815272_n.jpg?_nc_cat=106&_nc_ht=scontent-dfw5-1.xx&oh=682986a5f79d18c32d75c6fbab4517d6&oe=5D26C765">
  <input type="submit" value="Submit">
</form>
