<html>
<head>
  <link rel="stylesheet" type="text/css" href="/new.css">
</head>
<body>
  <div class="form-grid">
    <div></div>
    <div class="container">
      <h2>Add New Comedian</h2>
      <form action="/comedians" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="comedian[name]" placeholder="eg. John Mulaney">

        <label for="age">Age</label>
        <input type="integer" id="age" name="comedian[age]" placeholder="eg. 36">

        <label for="city">City</label>
        <input type="text" id="city" name="comedian[city]" placeholder="eg. Chicago">

        <label for="image_url">Image URL</label>
        <input type="text" id="image_url" name="comedian[image_url]" placeholder="eg. http://www.google.com/...">

        <input type="submit" value="Submit">
      </form>
    </div>
    <div></div>
  </div>
</body>
</html>
