<h1>Add new comedian</h1>
<form class="comedian form" action="/comedians" method="post">
  <input type="text" name="comedian[name]" value="Name">
  <input type="text" name="comedian[age]" value="Age">
  <input type="text" name="comedian[city]" value="City">
  <input type="submit" name="" value="Submit">
</form>
