<h1>New Comedian</h1>
<form id="new_comedian" action="" method="post">
  <input type="text" name="" value="Name">
  <input type="text" name="" value="Age">
  <input type="text" name="" value="Birthplace (city, state)">
  <input type="text" name="" value="Picture Url (optional)">
  <input type="submit" name="" value="Submit">
</form>
