
    <h3>Add a new Comedian:</h3>
    <form class='new-comedian' action='/comedians' method=POST>
       <input type='text' name='comedian[name]' placeholder='Name'>
       <input type='text' name='comedian[age]' placeholder='Age'>
       <input type='text' name='comedian[city]' placeholder="City">
       <input type='text' name='comedian[image_source]' placeholder="Image URL">
       <input type='submit' value='Submit'>
     </form>
