<form id='new_comedian_form' action="/comedians" method="post">
  <p>Enter a new comedian:</p>
  <input id='Name' type='text' name='comedian[name]'/><br/>
  <input id='Age' type='integer' name='comedian[age]'/><br/>
  <input id='City' type='text' name='comedian[city]'/><br/>
  <input id='Submit' type='submit'/>
</form>
