<form action="/comedians" method="post">
  <p>Enter info for a new Comedian:</p>
  Name:<br>
  <input type='text' name='comedian[name]'/><br/>
  Age:<br>
  <input type='text' name='comedian[age]'/><br/>
  Birthplace:<br>
  <input type='text' name='comedian[birthplace]'/><br/>
  Image url:<br>
  <input type='text' name='comedian[image_url]'/><br/>
  <input type='submit'/>
</form>
