<div class="new-comedian">
  <h3 class="new-title">New Comedian</h1>
  <form class="" action="/comedians" method="post">
    <h6>Name:</h6>
    <input type="text" name="comedian[name]" placeholder="Name"><br>
    <h6>Age:</h6>
    <input type="text" name="comedian[age]" placeholder="Age"><br>
    <h6>City:</h6>
    <input type="text" name="comedian[city]" placeholder="City"><br>
    <input type="submit" value="Create Comedian">
  </form>
</div>
