<form action="/comedians" method="post">
  <input type="text" name="comedian[name]" placeholder="Name"><br>
  <input type="text" name="comedian[age]" placeholder="Age"><br>
  <input type="text" name="comedian[city]" placeholder="Hometown"><br>
  <input type="submit" value="Submit">
</form>
