body {
  font-family: 'Raleway', sans-serif;
  background: gray;
}

header {
  background: black;
  color: white;
  height: 50px;
}
header img {
  display: block;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 50%;
  border: 5px solid #3F8DA7;
}
