body {
  background-color: black;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

.comedy-header {
  text-align: center;
  grid-column: 1 / span 2;
  grid-row: 1 / 2;
}

ul {
  list-style-type: none;
}

h5 {
  font-weight: bold;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 25% auto;
}

.flex-comedians, .stats-flex, .single-special{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.specials-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.single-special {
  margin: 10px;
  justify-content: space-around;
  word-wrap: normal;
  align-content: center;
}

.comedians-container {
  grid-column: 1 / span 2;
  grid-row: 3 / span 4;
}
.comedian-box {
  border-radius: 10px;
  text-align: center;
  width: 45%;
}
.image-special {
  display: inline;
  width: 93px;
  height: 134px;
  border-radius: 10px;
  background-color: black;
}

.special-li {
  text-align: left;
  width: 150px;
}

#comedian-2 > img {
  width: 129px;
  height: 97px;
}

#comedian-5 > img {
  width: 150px;
  height: 228px;
}

#comedian-6 > img {
  width: 113px;
  height: 111px;
}

#comedian-9 {
  border-radius: 40px 40px 10px 10px;
}

#statistics {
  text-align: center;
  width: 100%;
  grid-column: 1 / span 2;
  grid-row: 2 / 3;
}
