<form class="new-composer" action="/composers" method=POST>
      <input type="text" name="composer[surname]" placeholder="Last Name">
      <input type="text" name="composer[forename]" placeholder="First Name">
      <input type="text" name="composer[city]" placeholder="City">
      <input type="integer" name="composer[dob]" placeholder="Birth Year">
      <input type="integer" name="composer[dod]" placeholder="Death Year">
      <input type="integer" name="composer[age]" placeholder="Age">


      <input type="submit" value="Submit">
    </form>
