* {
  font-family: Arial, Helvetica, sans-serif
}

body {
  background-color: #102A5A;
  font-size: 13pt
}

.header {
  display: grid;
  grid-template-columns: 25vw 25vw 10vw 15vw 25vw;
  background-color: white;
  border-radius: 25px;
  text-align: center;
  align-items: center;
  margin: 20px 20px 20px 20px
}

.comedian-list > div:nth-child(odd){
  background-color: #054A9E;
  border-radius: 25px;
}

.comedian-list > div:nth-child(even){
  background-color: #1296D8;
  border-radius: 25px;
}

.comedian-list {
  display: grid;
  grid-auto-rows: auto;
}

.comedian-square {
  display: grid;
  grid-template-columns: 25vw 75vw;
  text-align: center;
  align-items: center;
}

.comedian-info {
  background-color: white;
  border-radius: 25px;
  margin: 30px 30px 30px 30px;
}

.comedian-specials {
  display: flex;
  margin: 30px 50px 30px 50px;
  background-color: white;
  border-radius: 25px;
}

.special {
  flex-grow: 1;
}

.thumbnail {
  max-width:250px;
  max-height:250px;
  width: auto;
  height: auto;
}

.comedian-name {
  font-size: 16pt;
  text-decoration: underline
}

#button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  height: 100px;
}

#button {
  border-radius: 25px;
  font-size: 16pt;
  margin: 4px 2px;
  background-color: white;
  color: black;
  border: 2px solid white;
  transition-duration: 0.4s;
  cursor: pointer;
}

#button:hover {
  background-color: #102A5A;
  color: white;
}
