.statistics {
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100px;
  width: auto;
  text-align: center;
}

.comedian-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  background-color: #2196F3;
  padding: 20px;
}

.comedian-grid > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
}

.thumbnail > img {
  max-width:150px;
  max-height:200px;
  width: auto;
  height: auto;
}

.comedian-name > p {
  text-decoration: underline;
  font-size: 30px
}
