body {
  background-color: lightgray;
}

header {
  font-size: 36px;
  background-color: lightblue;
  text-align: center;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

main {
  display: block;
  /* width: 80vw; */
  /* margin-left: auto;
  margin-right: auto; */
}

#comedians-container {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  grid-auto-flow: dense;
}

#specials-container {
  background-color: green;
  display: flex;
  flex-direction: row;
  /* overflow: scroll; */
  justify-content: space-around;
}

.special-container {
  background-color: yellow;
  width: 15rem;
}

.comedian-container {
  background-color: gray;
  text-align: center;
}

.center {
  text-align: center;
}

.special-thumb {
  height: 200px
}
