body {
  font-family: 'Raleway', sans-serif;
  background: gray;
}

header {
  background: black;
  color: white;
  height: 150px;
}

header h1 {
  font-size: 45px;
  float: center;
  display: inline-block;
}

header .img {
  float: left;
  display: inline-block;
  margin: auto;
  height: 10px;
  width: 10px;
}
