body {
  font-family: Heebo, sans-serif;
  color: black;
}

header {
  color: white;
  height: 250px;
  padding: 0 25px;
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 30px;
}

h3 {
  display: block;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

p {
  margin-top:10px;
  margin-bottom: 10px;
  display: inline-block;
}

section {
  line-height: 1.5em;
}

figure {
  color: white;
  background-color: black;
  flex: 0 0 300px;
  text-align: center;
  margin: 20px;
  flex-shrink: 1;
  padding: 5px;
}

nav {
  background-color: black;
  color: white;
  height: 75px;
  margin-bottom: 25px;
}

nav li {
  width: 33%;
  display: inline-block;
  padding: 30px 30px;
  text-align: center;
}

nav li:hover {
  background-color: white;
  color: black;
}

nav a {
  text-decoration: none;
  color: white;
}

.fancy {
  font-size: 72px;
  font-weight: 400;
  font-family: Abril Fatface, serif;
  margin-bottom: 15px;
}

.body {
  margin: 20px
  padding: 20px;
  text-align: center;
}

.spacer {
  display: inline-block;
  height: 50px;
}

.stats {
  background-color: #f2f2f2;
  margin-bottom: 50px;
  padding: 20px;
  text-align: center;
}

.stats-flex {
  display: inline;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#hero {
  background: url('images/hero.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px 0;
}
