body {
  display: block;
  background-color: #CCC;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  height: 100%;
}

nav {
  background-color: green;
}

h4 {
  text-align: center;
  width: auto;
}

h5 {
  display: block;
  text-align: center;
  text-wrap: auto;
  height: 25px;
}

p {
  text-align: center;
  font-size: 12px;
}

.comedians {
  padding-top: 3%;
  padding-bottom: 1%;
  display: flex;
  height: 385px;
  border-bottom-style: solid;
  border-width: 5px;
  border-color: #777;
}

.comedian-info {
  display: inline-block;
  height: 100%;
  width: 25%;
}

.specials {
  display: inline-flex;
  align-items: center;
  height: 100%;
  width: 70%;
  padding-left: 5%;
  overflow-x: scroll;
}

.special {
  display: inline-block;
  padding-left: 15px;
  max-width: 17%;
}

.comedian-info img {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
}
