<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"
    <link rel="stylesheet" href="public/main.css">
    <title>Comedians</title>
  </head>
  <body>
    <h1>Welcome to Comedians!</h1>
    <ul>
      <% @comedians.each do |comedian| %>
        <li>Name: <%= comedian.name %></li>
        <li>Age: <%= comedian.age %></li>
        <li>Birthplace: <%= comedian.birthplace %></li>
        <li>Photo: <img src="<%comedian.image_url%>" alt="comedian photo" style="width:100px;height:100px;">
      <% end %>
    </ul>
  </body>
</html>
