<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Comedians</title>
    <link rel="stylesheet" type=text/css href="<%= url('/stylesheets/main.css') %>">
  </head>

  <body>
    <header>
      <h1>Laugh Tracks</h1>
    </header>

    <section id='statistics'>
      <h2>Statistics</h2>
      <ul>
        <li>Average Age: </li>
        <li>Average Special Length: </li>
        <li>Home Cities: </li>
      </ul>
    </section>

    <section class='comedian-row'>
      <section class='comedian-info'>
        <ul>
          <li>John Mulaney</li>
          <li><img src="https://m.media-amazon.com/images/M/MV5BMTcyNjU3MjE3MF5BMl5BanBnXkFtZTgwNDk5MzIyMTE@._V1_UY317_CR6,0,214,317_AL_.jpg" alt="John Mulaney headshot"></li>
          <li>Age: 36</li>
          <li>Hometown: Chicago</li>
          <li>Number of specials: 3</li>
        </ul>
      </section>

      <section class='comedian-specials-row'>
        <section class='comedian-special'>
          <ul>
            <li>John Mulaney: Kid Gorgeous at Radio City (2018)</li>
            <li><img src="https://m.media-amazon.com/images/M/MV5BOWZlYjE4ZDYtNjhlNi00ZGQ0LTgxZmUtNGRjNDM4YWJmOWNiXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UY268_CR4,0,182,268_AL_.jpg" alt="John Mulaney: Kid Gorgeous at Radio City poster"></li>
          </ul>
        </section>
      </section>
    </section>

  </body>
</html>
