<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"
    <link rel="stylesheet" href="public/main.css">
    <title>Comedians</title>
  </head>
  <body>
    <h1>Welcome to Comedians!</h1>
    <h2>Statistics: Average age: 29 Average special length: 67 minutes</h2>
  </body>
</html>
