<h1>Comedians</h1>
<header>
  Statistics
  <ul>
    <li>Average TV Special Run Time</li>
      <h3>@average_special_run_time</h3>
    <li>Total TV Specials</li>
      <h3>@total_specials</h3>
    <li>Average Age</li>
      <h3>@average_age</h3>
    <li class="cities">Cities</li>
      @cities.each do |city|
        <p class=""
  </ul>

  @comedians.each do |comedian|
  <div id="comedian - <%= song.id %>" class="song">
    <ul>
      <li>Age:</li>
      <li>City:</li>
      <li>Total Specials:</li>
    </ul>
</header>
