<% @comedians.each do |comedian| %>
  <ul id="comedian-<%= comedian.id %>">
    <li>Name: <%= comedian.name %></li>
    <li>Hometown: <%= comedian.hometown %></li>
    <li>Age: <%= comedian.age %></li>
  </ul>
<% end %>
