<!doctype html>
<html>
  <head>
    <title>Laugh Tracks</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/styles.css">
  </head>

  <body>
    <header>
      <h1>Laugh Tracks</h1>
      <img src="../../public/images/laugh_1.jpg" alt="Main Logo"/>
    </header>

    <section id="statistics">
      <h1>Statistics</h1>
      <h2>Average Comedian Age</h2>
      <h2>Total Number of Specials</h2>
      <h2>Average Run Time</h2>
      <h2>Hometowns</h2>
    </section>

    <section id="profiles">
      <!-- iterate each per comedian
      @comedians.each do |comedian| -->
      <img src="comedian.photo" alt="Comedian Photo"/>
      <h1>Comedian Name</h1>
      <h2>Age</h2>
      <h2>Home Town</h2>
      <h2># of Specials<h2>

      <section id="specials">
        <h3>Specials</h3>

        <img src="comedian.special.photo"/>
        <h4> Name of Special</h4>
        <h5> Run Time</h5>
      </specials>

    </section>


  </body>


</html>
