<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>Laugh Tracks</title>
  <link rel="stylesheet" href="stylesheets/main.css" title="text/css" />
</head>

<body>
  <header>
    <h1>Statistics</h1>
    <table id="statistics">
      <tr>
        <th>Average Age: </th>
        <th>Unique Cities: </th>
        <th>Average Special Runtime:</th>
      </tr>
      <tr>
        <td>36</td>
        <td>Chicago</td>
        <td>1 hr 4 min</td>
      </tr>
    </table>

  </header>

  <div id="comedian">
    <img src=https://i.pinimg.com/736x/07/31/7d/07317d772dd1e93e1b99c2567da65735.jpg alt="John Mulaney">
    <p>Name:</p>
    <p>Age:</p>
    <p>Hometown:</p>
    <div id="specials">
      <h2>Specials</h2>
    </div>
  </div>
  <div id="comedian">
    <img src=https://i.pinimg.com/736x/07/31/7d/07317d772dd1e93e1b99c2567da65735.jpg alt="John Mulaney">
    <p>Name:</p>
    <p>Age:</p>
    <p>Hometown:</p>
    <div id="specials">
      <h2>Specials</h2>
    </div>
  </div>

</body>
