<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Laugh Tracks</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Laugh Tracks</h1>
      <h2>Come partake in joyous laughter</h2>
    </header>

    <%= yield %>
  </body>
</html>
