<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Comedians are funny</title>
    <link rel="stylesheet" href="/main.css" title="text/css" >
  </head>
  <body>
    <%= yield %>
  </body>
</html>
