<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Comedians</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Heebo" rel="stylesheet">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="main.css">
  </head>

  <header id="hero">
    <h1 class="fancy">LAUGH TRACKS</h1>
    <h3>From the standup scene to the movie screen. These actors and actresses
      made their debuts on the small stage.</h3>
  </header>

  <body>
    <nav>
      <ul class="nav nav-pills">
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">FILTER BY AGE</a>
    <div class="dropdown-menu">
      <% @all_ages.each do |comedian|%>
        <a class="dropdown-item" href="/comedians?age=<%= comedian.age %>"><%= comedian.age %></a>
      <% end %>
    </div>
    </li>
    <li class="nav-item">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">SORT BY</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/comedians?sort=name">NAME</a>
      <a class="dropdown-item" href="/comedians?sort=age">AGE</a>
      <a class="dropdown-item" href="/comedians?sort=city">CITY</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/comedians/new">NEW</a></li>
    </ul>
    </nav>

    <%= yield %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>

</html>
