<!doctype HTML>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Bourbon Guide</title>
  </head>
  <body>
    <%= yield %>

  </body>
</html>
