<form action="/comedians" method="post">
  <p>Add a comedian to our database</p>
  <br><label>First name:</label>
  <input type="text" name="comedian[firstname]"/>
  <br><label>Last name:</label>
  <input type="text" name="comedian[lastname]"/>
  <br><label>Age:</label>
  <input type="text" name="comedian[age]"/>
  <br><label>city:</label>
  <input type="text" name="comedian[city]"/>
  <input type="submit" value="Create Comedian"/>
</form>
