
    <section class="new-container">
      <form class="new-comedian" action="/comedians" method="post">
        <input type="text" name="comedian[name]" placeholder="Name" class="inputs" id="name"><br/>
        <input type="number" name="comedian[age]" placeholder="Age" class="inputs" id="age"><br/>
        <input type="text" name="comedian[hometown]" placeholder="Hometown" class="inputs" id="hometown"><br/>
        <input type="submit" value="Submit" class="inputs" id="button"><br/>
      </form>
    </div>
