
    
      <form class="new-comedian" action="/comedians" method="post">
        <input type="text" name="comedian[name]" placeholder="Name">
        <input type="number" name="comedian[age]" placeholder="Age">
        <input type="text" name="comedian[hometown]" placeholder="Hometown">
        <input type="submit" value="Submit">
      </form>
