<h3>Add a comedian</h3>

<p>Enter name, age, and hometown</p>
<form action="/comedians" method='POST'>
  <label for='comedian-name'>Name:</label>
  <input type="text" id='comedian-name' name='comedian[name]'><br/>

  <label for="comedian-age">Age:</label>
  <input type="number" id='comedian-age' name='comedian[age]'><br/>

  <label for="comedian-town">Hometown:</label>
  <input type="text" id='comedian-town' name='comedian[hometown]'><br/>

  <input type="submit">
</form>
