<form class="new-comedian" action="/new" method="post">
  <input id="name" type="text" name="comedian[name]" value="Name" required>
  <input id="age" type="text" name="comedian[age]" value="Age" required>
  <input id="birthplace" type="text" name="comedian[birthplace]" value="Birthplace" required>
  <input id="submit" type="submit" value="Submit New Comedian">
</form>
