<form class="new-comedian" action="/comedians" method="post">
  <input type="text" name="comedian[name]" value="Name">
  <input type="text" name="comedian[age]" value="Age">
  <input type="text" name="comedian[hometown]" value="Hometown">
  <input type="submit" value="Submit">
</form>
