
    <section class="new-container">
      <form class="new-comedian" action="/comedians" method="post">
        <input type="text" name="comedian[name]" placeholder="Name" class="inputs" id="name">
        <input type="number" name="comedian[age]" placeholder="Age" class="inputs" id="age">
        <input type="text" name="comedian[hometown]" placeholder="Hometown" class="inputs" id="hometown">
        <input type="submit" value="Submit" class="inputs" id="button">
      </form>
    </div>
