<form action="/comedians/new" method="post">
  <p>Enter a new comedian:</p>
  Name:
  <input type='text' name='comedian[name]'/><br/>
  Age:
  <input type='text' name='comedian[age]'/><br/>
  City:
  <input type='text' name='comedian[city]'/><br/>
  <input type='submit'/>
</form>
