  <form id=new-comedian action="/comedians" method="post">
    <h1>Enter a new comedian:</h1>
    <div id=form>
      Name: <input type='text' name='comedian[name]'/><br/>
      Age: <input type='number' name='comedian[age]'/><br/>
      Hometown: <input type='text' name='comedian[hometown]'/><br/>
      Image Link: <input type='text' name='comedian[image]'/><br/>
      <input type='submit' value='Submit!'/>
    </div>
  </form>
