<!DOCTYPE=html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" title="css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/form.css" type="text/css">
  </head>
  <body>
      <form class="new-comedian" action="/comedians" method="post">
        <input type="text" name="comedian[name]" placeholder="Name">
        <input type="number" name="comedian[age]" placeholder="Age">
        <input type="text" name="comedian[hometown]" placeholder="Hometown">
        <input type="submit" value="Submit">
      </form>
  </body>
</html>
