<head>
  <title>Laugh Tracks</title>
  <link href='/main.css' rel="stylesheet" type="text/css" />
</head>

<header>
  <h1>Add a Comedian</h1>
</header>

<section class='new-comedian'
  <form action="/comedians" method="post">
    <label>Name</label>
    <input type="string" name="comedian[name]"/><br/>
    <label>Age</label>
    <input type="string" name="comedian[age]"></input><br/>
    <label>City</label>
    <input type="string" name="comedian[city]"/><br/>
    <input type='submit'/>
  </form>
</section>
