<head>
  <title>Comedians</title>
  </head>
  <body>
    <header>
    <h1>Welcome to Comedians!!</h1>
    </header>
    <nav>
      <img src="../images/laughing-monkey-emoji.png" alt="laughing monkey emoji" />
    </nav>
  </body>
